{% extends "layout.twig" %}

{% block title %} Detalles de canción {% endblock %}

{% block main_container %}
<div class="row">
    <div class="media col-xs-10">
        <div class="media-left media-middle">
            <img class="media-object" src="/covers/{{ song._id }}.png">
        </div>
        <div class="media-body">
            <h2>{{ song.title }}</h2>
            <p>{{ song.author }}</p>
            <p>{{ song.kind }}</p>
            <form class="form-horizontal" method="post" action="/songs/buy/{{ song._id }}">
                <button type="submit" class="btn btn-primary pull-right">Comprar: {{ song.price }} €</button>
            </form>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 30px;">
    <div class="col-xs-10">
        <h3>Comentarios</h3>
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item">
                    <strong>{{ comment.author }}</strong>:
                    {{ comment.text }}
                    {% if user == comment.author %}
                        <a href="/comments/delete/{{ comment._id }}/{{ song._id }}" class="btn btn-xs btn-link pull-right">
                            Eliminar
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <h4>Añadir comentario</h4>
        <form class="form-horizontal" method="post" action="/comments/{{ song._id }}">
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control" name="text" rows="3" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Comentar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
